* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
body {
  padding-bottom: 2rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  display: flex;
  align-items: center;

  color: #1F2839;
  font-size: 2.25rem;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

.title::before {
  content: '';
  width: 70px;
  height: 1px;

  display: inline-block;
  margin-right: 20px;

  background: #B69D75;
}

.conversor {
  padding: 2.5rem 0;
}

.conversor-wrapper,
.calculos-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  justify-content: space-between;
}

.yearsAndDays {
  width: 30%;
}

form#daysToYears {
  display: none;
}

.conversor  p,
.calculos  p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #7A7A7A;
}

.subtitle {
  width: 100%;
  
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0 40px;
  
  background: #1F2839;
}

.subtitle h3 {
  padding: 5px 0;

  font-size: 1.125rem;
  letter-spacing: 1px;
  color: #B69D74;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.subtitle1 {
  padding-left: 7.5rem;
}

.calculate-wrapper {
  width: 100%;
  display: flex;
}

.result {
  width: 100%;

  text-align: center;
  line-height: 40px;
  border: 1px solid #C4C4C4;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.fractionAndPercentage {
  width: 70%;
}

.fractionAndPercentage .container {
  padding-left: 7.5rem;
}

@media (max-width: 64rem) {
  .fractionAndPercentage {
    width: 100%;
    padding-left: 0;
  }
  .yearsAndDays {
    width: 100%;
  }
}

.select-slides {
  width: 100%;

  display: flex;

  border-bottom: 1px solid #1F2839;
  cursor: pointer;
}

.select-slides > p{
  width: 50%;
  
  padding: 10px;
  display: inline-block;

  text-align: center;
  color: #1F2839;
  transition: .3s ease-in-out;
}

.select-slides p:hover {
  background: rgba(31, 40, 57, .1);
}

.select-slides p.active {
  background: rgba(31, 40, 57, .2);
}

.slide {
  display: flex;
}

.fracao,
.porcentagem {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 3.75rem 0;
  position: relative;
}

.fracao svg,
.porcentagem svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.fracao svg.l,
.porcentagem svg.l{
  left: 0;
}

.fracao svg.r,
.porcentagem svg.r{
  right: 0;
}

.porcentagem {
  display: none;
}

.fracao-single {
  width: 130px;
  height: 130px;

  border: 1px solid #1F2839;
  text-align: center;
  border-radius: 8px;
}

.fracao-single p {
  width: 100%;
  height: 45px;

  background: #1F2839;
  color: white;
  line-height: 45px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fracao-single span {
  line-height: 80px;
  color: #B69D74;
  font-family: 'Playfair Display', serif;
} 

.porcentagem-single span {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  align-self: center;

  color: #B69D74;
  font-family: 'Playfair Display', serif;
}

.porcentagem-single p {
  width: 90px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  color: #1F2839;
  border: 6px solid rgba(31, 40, 57, 0.3);
  border-radius: 50%;
  font-family: 'Playfair Display', serif;
}

.porcentagem-single p::after {
  content: '';
  width: 80px;
  height: 80px;

  position: absolute;

   border: 6px solid #1F2839;
   border-radius: 50%;
}

.dateAndDays {
  width: 50%;
}

.dateDifferences {
  width: 50%;
}

@media (max-width: 64rem) {
  .dateAndDays {
    width: 100%;
  }

  .dateDifferences {
    width: 100%;
    margin-top: 2rem;
  }
}

.dateAndDays .calculate-wrapper {
  margin-top: 1.25rem;
}
