form {
  margin: 2rem 0;
}

.input {
  width: 100%;

  display: block;
  padding: 1rem;
  margin-bottom: 1rem;

  color: #767676;
  font-size: 1rem;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  background: #ffffff;
  transition: .2s;
}

.input:hover,
.input:focus,
.select:hover {
  outline: none;
  border-color: #333;
  background: #fff;
}

.label{
  display: block;
  margin-top: 2rem;

  font-family: 'Roboto Slab', serif;
  font-size: .875rem;
  color: #B69D74;
}

.select {
  width: 100%;

  padding: 8px 0;
  display: block;

  font-family: 'Roboto Slab', serif;
  font-size: .875rem;
  color: #7A7A7A;
  border: none;
  border-bottom: 1px solid rgba(31, 40, 57, .6);
}

.button {
  min-width: 8rem;

  padding: .8rem 1.2rem;

  font-size: .875rem;
  /* font-family: var(--type-first); */
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background: #B69D75;
  color: #FFFFFF;
  transition: .1s;
}

.button:hover,
.button:focus {
  outline: none;
  background: #AF9468;
}

.button:disabled {
  opacity: .5;
  cursor: wait;
}

.calculate-wrapper .button {
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.fractionAndPercentage .input{
  width: 200px;

  display: inline-block;
  padding: .5rem 0;
  margin-right: 2rem;

  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(31, 40, 57, 0.6);;
}
